<section>
<div class="pt-5 badger-red-bg"></div>
<div class="pt-3 badger-red-bg"></div>
</section>
 
 {{!-- Begin Navigation --}}
    <nav class="navbar navbar-expand-lg navbar-dark badger-red-bg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/images/logo.png" width="320" height="200" alt="">
    </a>
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/history">History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/people">People</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/attractions">Attractions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/food">Food</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    {{!-- End Navigation --}}